.content{
  position: relative;
}

.case-type{
  padding:20px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,.4);
  position: fixed;
  width: 100px;
  left: 20px;
  top:220px;
  background-color: #fff;
  li{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #23adab;
    cursor: pointer;
    margin-bottom: 10px;
    &.on{
      font-size: 16px;
      color: #23adab;
    }
  }
}
.case-item{
  li{
    width: 100%;
    padding:20px;
    background-color: #fff;
    display: flex;
    float: left;
    margin-bottom: 20px;
    .case-img{
      width: 37%;
      min-width: 314px;
      min-height: 196px;
      margin-right: 3%;
      height: 150px;
    }
    .case-detail{
      width: 60%;
      overflow: hidden;
      h3{
        font-size: 18px;
        color: #23adab;
        line-height: 40px;
        border-bottom: 1px solid #23adab;
        margin-bottom: 10px;
      }
      p{
        font-size: 14px;
        line-height: 30px;
      }
    }

  }
  //li:nth-child(2n){
  //  margin-left:2%;
  //}
}
