.process-shu{
  padding:20px 10%;
  background-color: #fff;
  li{
    width: 60%;
    padding:10px;
    background-color: #169dad;
    display: flex;
    float: left;
    margin-bottom: 40px;
    &:nth-child(2n){
      float: right;
    }
  }
  .process-text{
    color: #fff;
    border: 2px solid #fff;
    font-size: 20px;
    padding:10px;
    border-left:none;
  }
  .process-num{
    width: 80px;
    height: 80px;
    background-color: yellow;
    text-align: center;
    line-height: 80px;
    span{
      font-size: 50px;
      font-weight: bold;
      color: #169dad;
    }
  }
}