<!--
 * @Author lizhenhua
 * @version 2017-08-10
 * @description 采购优势
 -->
<div class="advantage">
    <div class="part-title flex-between">
        <div class="part-title-text">
            <h4>黄金海岸采购优势</h4>
            <p>ADVANTAGE</p>
        </div>
    </div>

    <div class="ad-content">
        <ul class="ad-item" id="adItem">
            <li><span img-src="cailiao.png"></span></li>
            <li><span img-src="productor.png"></span></li>
            <li><span img-src="song.png"></span></li>
            <li><span img-src="desiner.png"></span></li>
            <li><span img-src="cailiao.png"></span></li>
        </ul>
        <ul class="ad-control tab-title flex-between" id="adControl">
            <li class="on">真材实料</li>
            <li>源头厂商</li>
            <li>便捷配送</li>
            <li>专业定制</li>
            <li><span>业务咨询</span><span>180-2753-1507</span></li>
        </ul>
    </div>
</div>
