<!--
 * @Author lizhenhua
 * @version 2017-08-10
 * @description Title
 -->
<div class="certificate">
    <div class="part-title flex-between">
        <div class="part-title-text">
            <h4>证书报告</h4>
            <p>CERTIFICATE REPORT</p>
        </div>
    </div>
    <div class="certificate-content">
        <div class="slider certificate-slider" id="certificateSlider">
            <div class="slider-box" id="certificateSliderBox">
                <div class="slider-item clear">
                    <div class="report">
                        <div class="report-img"><span img-src="z1.JPG"></span></div>
                        <div class="report-text">
                            <h4>甲醛释放量</h4>
                            <p>环保A级</p>
                        </div>
                    </div>
                    <div class="report">
                        <div class="report-img"><span img-src="z2.JPG"></span></div>
                        <div class="report-text">
                            <h4>耐久度</h4>
                            <p>10年不坍塌</p>
                        </div>
                    </div>
                    <div class="report">
                        <div class="report-img"><span img-src="z3.JPG"></span></div>
                        <div class="report-text">
                            <h4>卫生检测</h4>
                            <p>安全合格</p>
                        </div>
                    </div>
                    <div class="report">
                        <div class="report-img"><span img-src="z4.JPG"></span></div>
                        <div class="report-text">
                            <h4>物理性能</h4>
                            <p>优越卓绝</p>
                        </div>
                    </div>
                </div>
                <div class="slider-item clear">
                    <div class="report">
                        <div class="report-img"><span img-src="z5.JPG"></span></div>
                        <div class="report-text">
                            <h4>环保材料</h4>
                            <p>可再生无害材料</p>
                        </div>
                    </div>
                    <div class="report">
                        <div class="report-img"><span img-src="z7.jpg"></span></div>
                        <div class="report-text">
                            <h4>作品证书</h4>
                            <p>继续研发新品</p>
                        </div>
                    </div>
                    <div class="report">
                        <div class="report-img"><span img-src="z8.jpg"></span></div>
                        <div class="report-text">
                            <h4>营业执照</h4>
                            <p>可靠可信</p>
                        </div>
                    </div>
                    <div class="report">
                        <div class="report-img"><span img-src="z9.jpg"></span></div>
                        <div class="report-text">
                            <h4>商标注册证</h4>
                            <p>权威认证，注重版权</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-control">
                <div class="slider-left" id="certificateSliderLeft"></div>
                <div class="slider-right" id="certificateSliderRight"></div>
            </div>
        </div>
    </div>
</div>
