<!--
 * @Author lizhenhua
 * @version 2017-08-10
 * @description Title
 -->
<div class="profile">
    <div class="part-title flex-between">
        <div class="part-title-text">
            <h4>公司简介</h4>
            <p>PROFILE</p>
        </div>
        <div class="part-title-more">
            <a href="companyIntro.html">了解更多</a> <span class="right-min" img-src="rightMin.png"></span>
        </div>
    </div>
    <div class="profile-content clear">
        <div class="profile-left fl">
            <span class="wh100 scale-img" img-src="profile.png"></span>
        </div>
        <div class="profile-right fl">
            <h3>东莞市黄金海岸家具制造有限公司</h3>
            <p>公司创始于1989年，注册资本500万元，是一家拥有科学质量管理体系的生产型企业。</p>
            <p>始终专注于各类床垫的研发、生产及销售。满足各类场所的床垫采购需求：酒店；公寓；民宿；企业宿舍；学校；地产配套；政府工程等。</p>
            <p>公司旗下拥有多个特色系列的产品，其中“黄金海岸”品牌系列产品采用了酒店睡眠系统，是酒店、旅馆、宿舍等工程类专用床垫，依托先进的科技力量，对人体工程学深入研究所得，产品热销全国各地。业务咨询：180-2753-1507。</p>
            <ul class="profile-img-ul clear">
                <li><span class="wh100 scale-img" img-src="profile01.png"></span></li>
                <li><span class="wh100 scale-img" img-src="profile02.png"></span></li>
                <li><span class="wh100 scale-img" img-src="profile03.png"></span></li>
                <li><span class="wh100 scale-img" img-src="profile04.png"></span></li>
            </ul>
        </div>
    </div>
</div>