<!--
 * @Author lizhenhua
 * @version 2017-08-10
 * @description Title
 -->

<div class="server">
    <div class="server-top">
        <div class="line ab-mid"></div>
        <div class="block ab-mid"></div>
        <div class="server-content ab-mid">
            <h2>床垫<span>·</span>分类</h2>
            <p>CLASSIFICATION OF MATTRESS</p>
            <h4>满足您对不同床垫的需求</h4>
        </div>
    </div>
    <ul class="server-type flex-around">
        <li>场所分类</li>
        <li><a href="product.html?type=1">酒店床垫</a></li>
        <li><a href="product.html?type=2">宾馆床垫</a></li>
        <li><a href="product.html?type=3">公寓床垫</a></li>
        <li><a href="product.html?type=4">宿舍床垫</a></li>
        <li><a href="product.html?type=5">学生床垫</a></li>
        <li><a href="product.html?type=6">民宿床垫</a></li>
    </ul>
    <ul class="server-type flex-around">
        <li>材料分类</li>
        <li><a href="product.html?type=7">弹簧床垫</a></li>
        <li><a href="product.html?type=8">独立弹簧</a></li>
        <li><a href="product.html?type=9">椰棕床垫</a></li>
        <li><a href="product.html?type=10">乳胶床垫</a></li>
        <li><a href="product.html?type=11">弹簧加棕</a></li>
        <li><a href="product.html?type=12">弹簧乳胶</a></li>
    </ul>
</div>


